.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: white; */
  /* background-color: transparent; */
}

.logo {
  width: 200px;
  /* width: 130px; */
  height: auto;
}

