.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

.logo {
  width: 200px;
  height: auto;
  -webkit-filter: drop-shadow(5px 5px 5px #fff);
  filter: drop-shadow(5px 5px 5px #fff);
}

.total,
.total * {
  color: white;
}
