.card {
  border-radius: 10px;
}

.card:not(.loading):hover {
  animation: shake 1s;
}

.card.loading {
  opacity: 0.7;
}

.card.loading:hover {
  box-shadow: none;
}

.content {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
}

.content.loading {
  background-color: lightgray;
}

@media (max-width: 1024px) {
  .content {
    width: 120px;
    height: 120px;
  }
}

.icon {
  font-size: 7rem;
}

.text {
  justify-content: center;
}

.cardBody {
  text-align: center;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

