.container {
  border: 1px solid var(--semi-color-border);
  border-radius: 10px;
  margin-right: 1rem;
}

.listItem {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.listItem:hover {
  color: white;
  background-color: darksalmon;
}

.listItem:hover div {
  color: white;
}

.thumbnail {
  margin-right: 1rem;
}

