.backHomeLink {
  display: flex;
  align-items: center;
}

.actionsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editBtn {
  color: var(--blue) !important;
}

.actions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.layout {
  width: 80%;
  margin: 0 auto;
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 5rem;
}

@media (max-width: 1024px) {
  .layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.editableName {
  height: 38px;
  border: none;
  background-color: transparent;
  margin-bottom: 4px;
  margin-top: 4px;
}

.editableName:hover,
.editableName:focus {
  background-color: transparent;
}

.editableName > input {
  font-weight: bold;
  font-size: 2rem;
  padding: 0;
}

.tags {
  display: flex;
  align-items: center;
}

.stats {
  margin-top: 2rem;
}

.attribute {
  font-weight: bold;
  padding-right: 1rem;
}

