.backHomeLink {
  display: flex;
  align-items: center;
}

.layout {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 5rem;
}

.name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.type {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.stats {
  margin-top: 2rem;
}

.attribute {
  font-weight: bold;
  /* text-align: right; */
  padding-right: 1rem;
}

