.title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: xx-large;
}

.container {
  padding: 3rem 6rem;
  min-height: 100vh;
}

.main {
  padding: 0 6rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card {
  padding: 1.5rem;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:active,
.card:focus,
.card:hover {
  color: #0070f3;
  border: 1px solid #0070f3;
}

.card img {
  max-height: 200px;
}

